:root {
  --primary: #810B38;
  --primary-hover: #6D0930;
  --background: #F1E2D1;
  --surface: #DCC3AA;
  --text: #541A1A;
  --border: #C9AE93;

  /* Monaco Editor custom colors */
  --editor-bg: #F7EFE6;
  --editor-line: #EFE2D2;
  --editor-line-number: #A88B76;

  /* Semantic Alerts */
  --success: #2E7D32;
  --warning: #F9A825;
  --danger: #C62828;
  --info: #0288D1;
}
